# ===========================
# Python
# ===========================

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info


# ===========================
# Virtual Environment
# ===========================

.venv


# ===========================
# Visual Studio Code
# ===========================

.vscode/


# ===========================
# Jupyter Notebook
# ===========================

.ipynb_checkpoints/


# ===========================
# Excel Temporary Files
# ===========================

~$*.xlsx
~$*.xlsm


# ===========================
# Project Data
# ===========================

data/raw/
data/processed/